.c-carousel {
  --_slide-width: var(--slide-width, 200px);
  --_arrow-background: var(--arrow-background, rgb(0, 0, 0, 0.5));
  --_arrow-hover-background: var(--arrow-hover-background, rgb(0, 0, 0, 0.8));
  --_arrow-color: var(--arrow-color, #fff);
  --_pagination-color: var(--pagination-color, #ccc);
  --_pagination-active-color: var(--pagination-active-color, #333);

  width: 100%;
}

.c-carousel__slide {
  width: var(--_slide-width);
}

.c-carousel__slide > :where(img) {
  display: block;
  width: 100%;
  height: auto;
}

/* 矢印カスタマイズ */
.c-carousel .splide__arrow {
  background: var(--_arrow-background);
  opacity: 1;
}

.c-carousel .splide__arrow:hover {
  background: var(--_arrow-hover-background);
}

.c-carousel .splide__arrow svg {
  fill: var(--_arrow-color);
}

/* ページネーションカスタマイズ */
.c-carousel .splide__pagination__page {
  background: var(--_pagination-color);
}

.c-carousel .splide__pagination__page.is-active {
  background: var(--_pagination-active-color);
}
