.c-carousel {
  width: 100%;
}

.c-carousel__slide {
  width: var(--carousel-slide-width, 200px);
}

.c-carousel__slide > :where(img) {
  display: block;
  width: 100%;
  height: auto;
}

/* 矢印カスタマイズ */
.c-carousel .splide__arrow {
  background: var(--carousel-arrow-background, rgb(0, 0, 0, 0.5));
  opacity: 1;
}

.c-carousel .splide__arrow:hover {
  background: var(--carousel-arrow-hover-background, rgb(0, 0, 0, 0.8));
}

.c-carousel .splide__arrow svg {
  fill: var(--carousel-arrow-color, #fff);
}

/* ページネーションカスタマイズ */
.c-carousel .splide__pagination__page {
  background: var(--carousel-pagination-color, #ccc);
}

.c-carousel .splide__pagination__page.is-active {
  background: var(--carousel-pagination-active-color, #333);
}
