@use "@/styles/abstracts" as *;

.o-grid {
  --_repeat: var(--grid-repeat, auto-fit);
  --_size: min(var(--grid-min-size, 0px), 100%);
  --_column-gap: var(--grid-column-gap, var(--grid-gap, 0px));
  --_row-gap: var(--grid-row-gap, var(--grid-gap, 0px));

  display: grid;
  grid-template-columns: var(
    --grid-layout,
    repeat(var(--_repeat), minmax(var(--_size), 1fr))
  );
  gap: var(--_row-gap) var(--_column-gap);

  @include sp {
    --_repeat: var(--grid-repeat-sp, var(--grid-repeat, auto-fit));
    --_size: min(var(--grid-min-size-sp, var(--grid-min-size, 0px)), 100%);
    --_column-gap: var(
      --grid-column-gap-sp,
      var(--grid-gap-sp, var(--grid-column-gap, var(--grid-gap, 0px)))
    );
    --_row-gap: var(
      --grid-row-gap-sp,
      var(--grid-gap-sp, var(--grid-row-gap, var(--grid-gap, 0px)))
    );

    grid-template-columns: var(
      --grid-layout-sp,
      var(--grid-layout, repeat(var(--_repeat), minmax(var(--_size), 1fr)))
    );
  }
}
