@use "@/styles/abstracts" as *;

.o-grid {
  --_grid-repeat: var(--grid-repeat, auto-fit);
  --_grid-min-size: var(--grid-min-size, 0px);
  --_grid-gap: var(--grid-gap, 0px);
  --_grid-column-gap: var(--grid-column-gap, var(--_grid-gap));
  --_grid-row-gap: var(--grid-row-gap, var(--_grid-gap));
  --_grid-layout: var(
    --grid-layout,
    repeat(var(--_grid-repeat), minmax(min(var(--_grid-min-size), 100%), 1fr))
  );
  --_grid-repeat-sp: var(--grid-repeat-sp, var(--_grid-repeat));
  --_grid-min-size-sp: var(--grid-min-size-sp, var(--_grid-min-size));
  --_grid-column-gap-sp: var(
    --grid-column-gap-sp,
    var(--grid-gap-sp, var(--_grid-column-gap))
  );
  --_grid-row-gap-sp: var(
    --grid-row-gap-sp,
    var(--grid-gap-sp, var(--_grid-row-gap))
  );
  --_grid-layout-sp: var(
    --grid-layout-sp,
    var(
      --grid-layout,
      repeat(
        var(--_grid-repeat-sp),
        minmax(min(var(--_grid-min-size-sp), 100%), 1fr)
      )
    )
  );

  display: grid;
  grid-template-columns: var(--_grid-layout);
  gap: var(--_grid-row-gap) var(--_grid-column-gap);

  @include sp {
    grid-template-columns: var(--_grid-layout-sp);
    gap: var(--_grid-row-gap-sp) var(--_grid-column-gap-sp);
  }
}
