@use "@/styles/abstracts" as *;

.c-marquee {
  contain: paint;
  overflow-x: auto;
}

.c-marquee:where(.is-animating) {
  overflow: hidden;
}

.c-marquee__track {
  display: flex;
}

.c-marquee:where(.is-animating) .c-marquee__track {
  will-change: transform;
}

.c-marquee__set {
  display: flex;
  flex: none;
}

.c-marquee__toggle {
  display: block;
  min-block-size: 24px;
  padding: 0.25em 0.75em;
  margin-block-start: 0.5rem;
  margin-inline-start: auto;
  border: 1px solid currentcolor;
}

.c-marquee__toggle:where([hidden]) {
  display: none;
}
