// ベーススタイル - リセット・グローバル設定
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: $font-family;
  line-height: 1.6;
  color: #333;
}
