@use "../Settings/" as *;

.o-grid {
  --_repeat: var(--_grid-repeat, auto-fit);
  --_size: var(--_grid-min-size, 0);
  --_gap: var(--_grid-gap, 0);

  display: grid;
  grid-template-columns: repeat(var(--_repeat), minmax(var(--_size), 1fr));
  gap: var(--_gap);

  @include responsive("md") {
    --_repeat: var(--_grid-repeat-sp, var(--_grid-repeat, auto-fit));
    --_size: var(--_grid-min-size-sp, var(--_grid-min-size, 100%));
    --_gap: var(--_grid-gap-sp, var(--_grid-gap, 0));
  }
}
