@use "@/styles/abstracts" as *;

.c-icon {
  display: inline-block;
  flex-shrink: 0;
  width: var(--icon-width, var(--icon-size, 1em));
  height: var(--icon-height, var(--icon-size, 1em));
  line-height: 1;

  @include sp {
    width: var(
      --icon-width-sp,
      var(--icon-size-sp, var(--icon-width, var(--icon-size, 1em)))
    );
    height: var(
      --icon-height-sp,
      var(--icon-size-sp, var(--icon-height, var(--icon-size, 1em)))
    );
  }
}

.c-icon > :where(svg) {
  display: block;
  width: 100%;
  height: 100%;
}
