@use "../tools/" as *;

// ユーティリティクラス（最優先）
.u-sp {
  @include pc {
    display: none;
  }
}

.u-pc {
  @include sp {
    display: none;
  }
}

// 視覚的には隠し、スクリーンリーダーには読ませる
.u-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  white-space: nowrap;
  clip-path: inset(50%);
}
