.c-link {
  --_link-gap: var(--link-gap, 0.5em);
  --_link-padding: var(--link-padding, 1rem);
  --_link-font-size: var(--link-font-size, 1rem);
  --_link-color: var(--link-color, #000);
  --_link-background: var(--link-background, #fff);

  display: inline-flex;
  gap: var(--_link-gap);
  align-items: center;
  justify-content: center;
  padding: var(--_link-padding);
  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--_link-font-size);
  line-height: 1;
  color: var(--_link-color);
  text-decoration: none;
  background: var(--_link-background);
  border: 1px solid currentcolor;
  box-shadow: none;
}

.c-link:where(:focus-visible) {
  outline: 2px solid currentcolor;
  outline-offset: 3px;
}
