.c-link {
  --_gap: var(--gap, 0.5em);
  --_padding: var(--padding, 1rem);
  --_font-size: var(--font-size, 1rem);
  --_color: var(--color, #000);
  --_background: var(--background, #fff);

  display: inline-flex;
  gap: var(--_gap);
  align-items: center;
  justify-content: center;
  padding: var(--_padding);
  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--_font-size);
  line-height: 1;
  color: var(--_color);
  text-decoration: none;
  background: var(--_background);
  border: 1px solid currentcolor;
  box-shadow: none;
}

.c-link:where(:focus-visible) {
  outline: 2px solid currentcolor;
  outline-offset: 3px;
}
