@use '@/styles/abstracts' as *;

.c-picture {
  img {
    width: calc(var(--width) * 1px);
    height: auto;
    object-fit: cover;

    @include sp {
      width: calc(var(--width-sp, var(--width)) * 1px);
    }
  }
}