// タイポグラフィ設定
// フォントファミリー
$font-family-base: -apple-system, blinkmacsystemfont, "Segoe UI", "Helvetica Neue", arial, sans-serif;
$font-family-heading: -apple-system, blinkmacsystemfont, "Segoe UI", "Helvetica Neue", arial, sans-serif;
$font-family-code: "Courier New", courier, monospace;
