@use '@/styles/abstracts' as *;

@scope (.p-kv[data-scope='p-kv']) to ([data-scope]) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100svh;

  ._name {
    font-size: rem(48);
    font-weight: 700;
    letter-spacing: 0.5em;
  }
}
