@use "@/styles/abstracts" as *;

.o-container {
  --_container-max-width: var(--container-max-width, #{rem($design-width-pc)});
  --_container-padding: var(--container-padding, #{rem(20)});

  box-sizing: unset;
  max-width: var(--_container-max-width);
  padding-inline: var(--_container-padding);
  margin-inline: auto;

  @include sp {
    --_container-max-width: var(
      --container-max-width,
      #{rem($design-width-sp)}
    );
  }
}
