@use "@/styles/abstracts" as *;

.o-container {
  --_max-width: var(--max-width, #{rem(1200)});
  --_padding: var(--padding, #{rem(20)});

  box-sizing: unset;
  max-width: var(--_max-width);
  padding-inline: var(--_padding);
  margin-inline: auto;
}
