@use "@/styles/abstracts" as *;

@property --vw {
  syntax: "<length>";
  initial-value: 0;
  inherits: true;
}

:root {
  scrollbar-gutter: stable;
  --fz: 1;
  --vw: 100vw;

  --scale: tan(atan2(var(--vw), #{$design-width-pc}px));

  // フォントファミリー
  --font-family-base:
    -apple-system, blinkmacsystemfont, "Segoe UI", "Helvetica Neue", arial,
    sans-serif;

  // カスタムイージング
  --easing-smooth: cubic-bezier(0.4, 0, 0.2, 1);

  @include sp {
    --scale: tan(atan2(var(--vw), #{$design-width-sp}px));
  }
}
